.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../asserts/img/loginBg.png) no-repeat 0 0;
    background-size: cover;

    .login_form {
        height: 150px;
        width: 350px;

        input {
            background: transparent;
        }
    }

    .login_btn {
        button {
            width: 260px;
            margin-left: 90px;
        }
    }
}